.d-flex img{
  width: 30%;
  margin-top: 20px;
}

.d-flex p{
  font-size: 20px;
  font-weight: 700;
  background-color: #377D7A;
  color: rgb(0, 0, 0);
}
.row1 {
    overflow: hidden;
    position: relative;
    display: flex;
    background-color: #fff;
    padding-bottom: 30px;
  }
  .row2 {
    overflow: hidden;
    position: relative;
    display: flex;
    background-color: #333;
    color: #fff;
    padding-bottom: 30px;
  }
  
  p {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
  }
  .titletest {font-family: "abc"; font-color: "red"}
  .seccion {
    margin: auto;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding: 2em;
  }
  
  /* Hover 1 */
  
  .boton-linea-ext a,
  .boton-linea-ext2 a {
    text-decoration: none;
    color: #333;
  }
  
  .boton-linea-ext:hover a,
  .boton-white-ext:hover a {
    color: rgba(135,238,190,1);
    background: -moz-linear-gradient(left, rgba(135,238,190,1) 0%, rgba(98,200,228,1) 56%, rgba(40,157,189,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(135,238,190,1)), color-stop(56%, rgba(98,200,228,1)), color-stop(100%, rgba(40,157,189,1)));
    background: -webkit-linear-gradient(left, rgba(135,238,190,1) 0%, rgba(98,200,228,1) 56%, rgba(40,157,189,1) 100%);
    background: -o-linear-gradient(left, rgba(135,238,190,1) 0%, rgba(98,200,228,1) 56%, rgba(40,157,189,1) 100%);
    background: -ms-linear-gradient(left, rgba(135,238,190,1) 0%, rgba(98,200,228,1) 56%, rgba(40,157,189,1) 100%);
    background: linear-gradient(to right, rgba(135,238,190,1) 0%, rgba(98,200,228,1) 56%, rgba(40,157,189,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87eebe', endColorstr='#289dbd', GradientType=1 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .boton-linea-ext,
  .boton-linea-ext2 {
      padding: 4px 28px;
      border: none;
      background: transparent;
      color: #333;
      width: auto;
      float: left;
      position: relative;
      line-height: 45px;
      cursor: pointer;
      margin: 1em 2em 1em 2em;
  }
  
  .boton-linea-ext .linea1,
  .boton-linea-ext .linea2,
  .boton-linea-ext2 .linea1_1,
  .boton-linea-ext2 .linea2_2,
  .boton-white-ext .linea1,
  .boton-white-ext .linea2,
  .boton-white-ext2 .linea1_1,
  .boton-white-ext2 .linea2_2 {
    top: 0;
    right: 0;
  }
  
  .boton-linea-ext .linea3,
  .boton-linea-ext .linea4,
  .boton-linea-ext2 .linea3_2,
  .boton-linea-ext2 .linea4_2,
  .boton-white-ext .linea3,
  .boton-white-ext .linea4,
  .boton-white-ext2 .linea3_2,
  .boton-white-ext2 .linea4_2 {
    bottom: 0;
    left: 0;
  }
  
  .boton-linea-ext .linea1,
  .boton-linea-ext .linea3,
  .boton-linea-ext2 .linea1_2,
  .boton-linea-ext2 .linea3_2,
  .boton-white-ext .linea1,
  .boton-white-ext .linea3,
  .boton-white-ext2 .linea1_2,
  .boton-white-ext2 .linea3_2 {
    height: 3px;
    width: 18px;
  }
  
  .boton-linea-ext .linea2,
  .boton-linea-ext .linea4,
  .boton-linea-ext2 .linea2_2,
  .boton-linea-ext2 .linea4_2,
  .boton-white-ext .linea2,
  .boton-white-ext .linea4,
  .boton-white-ext2 .linea2_2,
  .boton-white-ext2 .linea4_2{
    height: 18px;
    width: 3px;
  }
  
  .boton-linea-ext span,
  .boton-linea-ext2 span {
    position: absolute;
    background-color: #333;
    display: block;
    transition: all 300ms; 
  }
  
  .boton-linea-ext:hover,
  .boton-linea-ext:active,
  .boton-linea-ext2:hover,
  .boton-linea-ext2:active {
    background-color: transparent;
    color: #333;
  }
  
  .boton-linea-ext:hover .linea1,
  .boton-linea-ext:hover .linea3,
  .boton-linea-ext:active .linea1,
  .boton-linea-ext:active .linea3,
  .boton-white-ext:hover .linea1,
  .boton-white-ext:hover .linea3,
  .boton-white-ext:active .linea1,
  .boton-white-ext:active .linea3 {
    width: 100%;
    background: rgba(135,238,190,1);
  background: -moz-linear-gradient(left, rgba(135,238,190,1) 0%, rgba(98,200,228,1) 56%, rgba(40,157,189,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(135,238,190,1)), color-stop(56%, rgba(98,200,228,1)), color-stop(100%, rgba(40,157,189,1)));
  background: -webkit-linear-gradient(left, rgba(135,238,190,1) 0%, rgba(98,200,228,1) 56%, rgba(40,157,189,1) 100%);
  background: -o-linear-gradient(left, rgba(135,238,190,1) 0%, rgba(98,200,228,1) 56%, rgba(40,157,189,1) 100%);
  background: -ms-linear-gradient(left, rgba(135,238,190,1) 0%, rgba(98,200,228,1) 56%, rgba(40,157,189,1) 100%);
  background: linear-gradient(to right, rgba(135,238,190,1) 0%, rgba(98,200,228,1) 56%, rgba(40,157,189,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87eebe', endColorstr='#289dbd', GradientType=1 );
  }
  
  .boton-linea-ext:hover .linea2,
  .boton-linea-ext:active .linea2,
  .boton-white-ext:hover .linea2,
  .boton-white-ext:active .linea2{
    height:100%;
    background: #289dbd;
  }
  
  .boton-linea-ext:hover .linea4,
  .boton-linea-ext:active .linea4,
  .boton-white-ext:hover .linea4,
  .boton-white-ext:active .linea4{
    height:100%;
    background: #87eebe;
  }
  
  /* Hover 2 */
  
  .boton-linea-ext2:hover a,
  .boton-white-ext2:hover a {
  background: rgba(230,187,117,1);
  background: -moz-linear-gradient(left, rgba(230,187,117,1) 0%, rgba(227,98,98,1) 56%, rgba(189,42,187,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(230,187,117,1)), color-stop(56%, rgba(227,98,98,1)), color-stop(100%, rgba(189,42,187,1)));
  background: -webkit-linear-gradient(left, rgba(230,187,117,1) 0%, rgba(227,98,98,1) 56%, rgba(189,42,187,1) 100%);
  background: -o-linear-gradient(left, rgba(230,187,117,1) 0%, rgba(227,98,98,1) 56%, rgba(189,42,187,1) 100%);
  background: -ms-linear-gradient(left, rgba(230,187,117,1) 0%, rgba(227,98,98,1) 56%, rgba(189,42,187,1) 100%);
  background: linear-gradient(to right, rgba(230,187,117,1) 0%, rgba(227,98,98,1) 56%, rgba(189,42,187,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6bb75', endColorstr='#bd2abb', GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  
  .boton-linea-ext2 .linea1_2,
  .boton-linea-ext2 .linea2_2,
  .boton-white-ext2 .linea1_2,
  .boton-white-ext2 .linea2_2 {
    top: 0;
    right: 0;
  }
  
  .boton-linea-ext2:hover .linea1_2,
  .boton-linea-ext2:hover .linea3_2,
  .boton-linea-ext2:active .linea1_2,
  .boton-linea-ext2:active .linea3_2,
  .boton-white-ext2:hover .linea1_2,
  .boton-white-ext2:hover .linea3_2,
  .boton-white-ext2:active .linea1_2,
  .boton-white-ext2:active .linea3_2{
    width: 100%;
    background: rgba(230,187,117,1);
  background: -moz-linear-gradient(left, rgba(230,187,117,1) 0%, rgba(227,98,98,1) 56%, rgba(189,42,187,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(230,187,117,1)), color-stop(56%, rgba(227,98,98,1)), color-stop(100%, rgba(189,42,187,1)));
  background: -webkit-linear-gradient(left, rgba(230,187,117,1) 0%, rgba(227,98,98,1) 56%, rgba(189,42,187,1) 100%);
  background: -o-linear-gradient(left, rgba(230,187,117,1) 0%, rgba(227,98,98,1) 56%, rgba(189,42,187,1) 100%);
  background: -ms-linear-gradient(left, rgba(230,187,117,1) 0%, rgba(227,98,98,1) 56%, rgba(189,42,187,1) 100%);
  background: linear-gradient(to right, rgba(230,187,117,1) 0%, rgba(227,98,98,1) 56%, rgba(189,42,187,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6bb75', endColorstr='#bd2abb', GradientType=1 );
  }
  
  .boton-linea-ext2:hover .linea2_2,
  .boton-linea-ext2:active .linea2_2,
  .boton-white-ext2:hover .linea2_2,
  .boton-white-ext2:active .linea2_2 {
    height:100%;
    background: #bd2abb;
  }
  
  .boton-linea-ext2:hover .linea4_2,
  .boton-linea-ext2:active .linea4_2,
  .boton-white-ext2:hover .linea4_2,
  .boton-white-ext2:active .linea4_2{
    height:100%;
    background: #e6bb75;
  }
  
  /* WHITE VERSIONS */
  
  .boton-white-ext a,
  .boton-white-ext2 a {
    text-decoration: none;
    color: #fff;
  }
  
  .boton-white-ext,
  .boton-white-ext2 {
      padding: 4px 28px;
      border: none;
      background: transparent;
      color: #333;
      width: auto;
      float: left;
      position: relative;
      line-height: 45px;
      cursor: pointer;
      margin: 1em 2em 1em 2em;
  }
  
  .boton-white-ext span,
  .boton-white-ext2 span {
    position: absolute;
    background-color: #fff;
    display: block;
    transition: all 300ms; 
  }
  
  .boton-white-ext:hover,
  .boton-white-ext:active,
  .boton-white-ext2:hover,
  .boton-white-ext2:active {
    backgroundo-color: transparent;
    color: #fff;
  }

  

  /* Inicio de barra de navegacion*/
  body{
    font-family:arial,sans-serif;
    
    
  }
  #nave{
    width:100%;
    height:500px;
    background:url(https://www.diariamenteali.com/medias/beneficios-de-sacar-a-pasear-a-tu-perro-1900Wx500H?context=bWFzdGVyfGltYWdlc3w5OTU4NnxpbWFnZS9qcGVnfGhjYy9oZjkvOTA3NDUzODkzODM5OC9iZW5lZmljaW9zLWRlLXNhY2FyLWEtcGFzZWFyLWEtdHUtcGVycm9fMTkwMFd4NTAwSHwwZDQ0MWUzMTY4MDFlMzFhZGU2MDQwNjE5OGRjNmU4NWZkZjNhOTU4YTkyYTYwNDBmYTZlN2IyMjYwMzYxZWE5);
    background-size: cover;
    opacity: 1;
   
      
  }

  #nave #titulo {
  width:20%;
padding-left: 50px;



  }
  #nave #silueta {
    width:5%;
    margin-left: 950px;
 
    
  }

  #nave_wrapper{
    width:600px;
    height:70px;
    background:#377D7A;
    margin-left: auto;
    margin-right:auto; 
    margin-top:50px;
    opacity: 1;
    filter:alpha (opacity=90)/*IE8 earlier */
  }
  
  #nave_wrapper ul li{
    list-style:none;
    display:inline;
    font-weight:bold;
    padding:15px;
   
  }
  #nave_wrapper a{
    color:white;
    text-decoration:none;
    padding:15px
  }
  
  #nave_wrapper ul li:hover{
    background:rgb(241, 243, 127);
    transition:all 0.45s;
    opacity:0.9s;
    filter:alpha (opacity=90)/*IE8 earlier */ 
  }
  
  
  /*Fin de barra de navegacion*/
  
  /*Inicio de Footer*/

  .site-footer
{
  background-color:#377D7A;
  padding:20px 0 10px;
  font-size:15px;
  line-height:24px;
  color:#fff;
}
.site-footer hr
{
  border-top-color:#fff;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#fff
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-image: url(../static/imagenes/logoinsta.jpg);
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-image: url(../static/imagenes/logoinsta.jpg);
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.instagram:hover
{
  background-image: url(../static/imagenes/logoinsta.jpg);
  
}



  /*Fin de Footer*/

