@charset "UTF-8";
    @import 'https://fonts.googleapis.com/css?family=Raleway';

    .d-inline-flex{
      margin: 50px;
    }

    .tablas{
      margin-top: 5px;
      margin-left: 50px;
      margin-right: 50px;
      margin-bottom: 50px;
    }

    #tabla-perfil img{
      border-radius: 50%;
      width: 180px;
      height: 180px;
      border-style: solid;
      border-color: cadetblue;
    }

    #tabla-perro img{
      border-radius: 50%;
      width: 100px;
      height: 100px;
      border-style: solid;
      border-color: cadetblue;
    }
    
    #tabla-perro{
      text-align: center;
      vertical-align: middle;
    }

    .tablas thead{
      text-align: center;
    }

    .tablas .btn-primary{
      background-color: cadetblue;
      font-size: 15px;
      border-color: black;
    }

    .tablas #eliminar{
      background-color: red;
    }