@charset "UTF-8";
    @import 'https://fonts.googleapis.com/css?family=Raleway';
    body {
      font-family: 'Raleway', sans-serif;
      font-weight: 300;
      line-height: 1.42em;
      color:#4B4A4B;
      background-color:#FFDAC4;
      background: url(http://www.pixeden.com/media/k2/galleries/131/002-subtle-light-pattern-background-texture.jpg);
    }

    h1 {
      font-size:3em; 
      font-weight: 300;
      line-height:1em;
      text-align: center;
      color: #377D7A;
    }

    .listado th h1 {
      font-weight: bold;
      font-size: 1em;
      text-align: left;
        color: #FFFFFF;
    }

    .listado td {
      font-weight: normal;
      font-size: 1em;
      -webkit-box-shadow: 0 2px 2px -2px #0E1119;
      -moz-box-shadow: 0 2px 2px -2px #0E1119;
      box-shadow: 0 2px 2px -2px #0E1119;
    }

    .listado {
      text-align: left;
      overflow: hidden;
      width: 80%;
      margin: 0 auto;
      display: table;
      padding: 0 0 8em 0;
    }

    .listado td, .listado th {
      padding-bottom: 2%;
      padding-top: 2%;
      padding-left:2%;  
    }

    .listado tr:nth-child(odd) {
      background-color: #EEEAE7;
    }

    .listado tr:nth-child(even) {
      background-color: #FFFFFF;
    }

    .listado th {
      background-color: #377D7A;
    }

    .listado td:first-child { 
      color: #FC1231; 
    }

    .listado tr:hover {
      background-color: #F7C7F7;
      -webkit-box-shadow: 0 6px 6px -6px #0E1119;
      -moz-box-shadow: 0 6px 6px -6px #0E1119;
      box-shadow: 0 6px 6px -6px #0E1119;
    }

    td a {
      color: #4B4A4B;
    }

    td a:hover {
      color: #FFFFFF;
    }

    .listado td.icono:hover {
      background-color: #FC1231;
      
      box-shadow: #BA0F26 -1px 1px, #BA0F26 -2px 2px, #BA0F26 -3px 3px, #BA0F26 -4px 4px, #BA0F26 -5px 5px, #BA0F26 -6px 6px;
      transform: translate3d(6px, -6px, 0);

      transition-delay: 0s;
      transition-duration: 0.4s;
      transition-property: all;
      transition-timing-function: line;
    } 



/* Inicio de barra de navegacion*/
body{
    font-family:arial,sans-serif;
    
    
  }
  #nave{
    with:100%;
    height:200px;
    opacity: 0.8;
      
  }

  #nave_wrapper{
    width:600px;
    height:70px;
    background:#377D7A;
    margin-left: auto;
    margin-right:auto; 
    margin-top:50px;
    opacity: 1;
    filter:alpha (opacity=90)/*IE8 earlier */
  }
  
  #nave_wrapper ul li{
    list-style:none;
    display:inline;
    font-weight:bold;
    padding:15px;
   
  }
  #nave_wrapper a{
    color:white;
    text-decoration:none;
    padding:15px
  }
  
  #nave_wrapper ul li:hover{
    background:rgb(241, 243, 127);
    transition:all 0.45s;
    opacity:0.9s;
    filter:alpha (opacity=90)/*IE8 earlier */ 
  }
  .container {
    margin-bottom: 50px;
  
  /*Fin de barra de navegacion*/