body{
    background:url('https://xn--malasaa-9za.com/wp-content/uploads/2018/07/parque-perros-4.jpg');
    background-size:100% 100%;
    background-attachment: fixed; 
    background-repeat:no-repeat;
   
   
  }


  
/*
.btn-aceptar {
background-color: #377D7A;
  color: #fff;
}*/
