<!DOCTYPE html>

<head>
    <title>Barra de navegacion transparente</title>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type ="text/css" href="/contacto.css" />
    <link rel="stylesheet" type ="text/css" href="../static/contacto.css" />
    <link rel="stylesheet" type ="text/css" href="../static/index.css" />
</head>
<body>

  <div id="nave"><br>
    <div id="nave_wrapper"><br>
      <ul>
        <li><a href="index.html">Inicio</a></li>
        <li><a href="rutaspaseo.html">Rutas de Paseo</a></li>
        <li><a href="contacto.html">Contacto</a></li>
        <li><a href="videosinteres.html">Videos</a></li>
      </ul>
    </div>
 </div>
    
  <div class="wrapper-walker">
    <div class="half-walker">
      <p><strong>Contacto Walkers</strong></p>
      <div class="tab-walker">
        <input id="tab-one-walker" type="checkbox" name="tabs">
        <label for="tab-one-walker">Teléfono</label>
        <div class="tab-content-walker">
          <p><b>WhatsApp:</b> +54 011 12345678</p>
          <p><b>Telegram:</b> +54 011 12345678</p>
          <p><b>Llamanos:</b> 03484 4457345</p>
        </div>
      </div>


      <div class="tab-walker">
        <input id="tab-two-walker" type="checkbox" name="tabs">
        <label for="tab-two-walker">E-mail</label>
        <div class="tab-content-walker">
          <p>contacto_walkers@gmail.com</p>
        </div>
      </div>
      
    </div>

    <div class="wrapper-usuario">
        <div class="half-usuario">
          <p><strong>Contacto Usuarios</strong></p>
          <div class="tab-usuario">
            <input id="tab-one-usuario" type="checkbox" name="tabs">
            <label for="tab-one-usuario">Teléfono</label>
            <div class="tab-content-usuario">
              <p><b>WhatsApp:</b> +54 011 87654321</p>
              <p><b>Telegram:</b> +54 011 87654321</p>
              <p><b>Llamanos:</b> 03484 5437544</p>
            </div>
          </div>
          <div class="tab-usuario">
            <input id="tab-two-usuario" type="checkbox" name="tabs">
            <label for="tab-two-usuario">E-mail</label>
            <div class="tab-content-usuario">
              <p>contacto_usuarios@gmail.com</p>
            </div>
          </div>
          
        </div>

    <div class="wrapper-pf">
            <div class="half-pf">
              <p><strong>Preguntas Frecuentes</strong></p>
              <div class="tab-pf">
                <input id="tab-one-pf" type="checkbox" name="tabs">
                <label for="tab-one-pf">Teléfono</label>
                <div class="tab-content-pf">
                  <p><b>WhatsApp:</b> +54 011 87654321</p>
                  <p><b>Telegram:</b> +54 011 87654321</p>
                  <p><b>Llamanos:</b> 03484 5437544</p>
                </div>
              </div>
              <div class="tab-pf">
                <input id="tab-two-pf" type="checkbox" name="tabs">
                <label for="tab-two-pf">E-mail</label>
                <div class="tab-content-pf">
                  <p>contacto_usuarios@gmail.com</p>
                </div>
              </div>
              
            </div>
            
            <footer class="site-footer">
              <div class="container">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <h6></h6>
                    <p class="text-justify"> </p>
                  </div>
          
                  <div class="col-xs-6 col-md-3">
                    <h6></h6>
                    <ul class="footer-links">
                 
                    </ul>
                  </div>
          
                  <div class="col-xs-6 col-md-3">
                    <h6>Accesos Directos</h6>
                    <ul class="footer-links">
                      <li><a href="/index.html">Inicio</a></li>
                      <li><a href="/rutaspaseo.html">Rutas de Paseo</a></li>
                      <li><a href="/contacto.html">Contacto</a></li>
                      <li><a href="/videosinteres.html">Videos</a></li>
                     </ul>
                  </div>
                </div>
                <hr>
              </div>
              <div class="/container">
                <div class="row">
                  <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2021 Todos los Derechos Reservados "The Walking Dog"
                 
                    </p>
                  </div>
          
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                      <li><a class="instagram" href="https://instagram.com/the_walking_dog2021?utm_medium=copy_link"><i class="fa fa-instagram"></i></a></li>
                      <li><a class="instagram" href=""><i class="fa fa-instagram"></i></a></li>
                        
                    </ul>
                  </div>
                </div>
              </div>
          </footer>

</body>
