<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>The walking dog</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="../static/index.css" />
  <link rel="icon" type="image/x-icon" href="../imagenes/beagle.jpg" />
  <!--Para visual-->

  <link rel="stylesheet" type="text/css" href="/index.css" />
  <!--Para netbeans-->
  <link rel="icon" type="image/x-icon" href="/beagle.jpg" />
  <!--<link rel="stylesheet" href="../static/index.css" >-->

<link rel="stylesheet" type="resources/static" href="static/letra1.css">
</head>


<body>

  <div id="nave"><br>

    <img id="titulo" src="../static/imagenes/TWD BLANCO.png" alt="" />
    <!--Para visual-->
    <!-- <img id= "silueta" src="../static/imagenes/logoperro.jpg" alt="" /> -->
    <!--buscar la misma imagen en png -->

    <img id="titulo" src="imagenes/TWD BLANCO.png" alt="" />
    <!--Para netbeans-->
    <!-- <img id= "silueta" src="imagenes/logoperro.jpg" alt="" /> -->

    <!--   <div id="nave_wrapper"><br>
      
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/rutaspaseo">Rutas de Paseo</a></li>
        <li><a href="/contacto">Contacto</a></li>
        <li><a href="/videosinteres">Videos</a></li>
      </ul>
    </div> -->
  </div>

  <div class="d-flex justify-content-center align-items-center flex-column">

    <p class= "titletest"> ENCONTRA AL MEJOR AMIGO PARA TU PERRO</p>
  

    <section class="row1">
      <div class="seccion">
        <p> Selecciona tu Pefil </p>
        <div class="boton-linea-ext">
          <span class="linea1"></span>
          <span class="linea2"></span>
          <span class="linea3"></span>
          <span class="linea4"></span>
          <a href="/walker">Walker</a>
        </div>
        <div class="boton-linea-ext2">
          <span class="linea1_2"></span>
          <span class="linea2_2"></span>
          <span class="linea3_2"></span>
          <span class="linea4_2"></span>
          <a href="/usuario">Usuario</a>

        </div>

    </section>
    <div id="nave_wrapper"><br>
      
      <ul>
        <li><a href="/index">Inicio</a></li>
        <li><a href="/rutaspaseo">Rutas de Paseo</a></li>
        <li><a href="/contacto">Contacto</a></li>
        <li><a href="/videosinteres">Videos</a></li>
      </ul>
    </div>

  <!--   height="10" width="50"
       -->
       <center>
      <img src="../static/imagenes/TWD.png" alt="">
      <!--Para visual-->
      <img src="imagenes/TWD.png" alt="">
      <!--Para NetBeans-->
      <div>
      <img src="../static/imagenes/patitas2.jpg" alt="" >
      <!--Para visual-->
      <img src="imagenes/patitas2.jpg" alt="" >
      <!--Para NetBeans-->
      <img src="../static/imagenes/patitas2.jpg" alt="" >
      <!--Para visual-->
      <img src="imagenes/patitas2.jpg" alt="" >
      <!--Para NetBeans-->
      <img src="../static/imagenes/patitas2.jpg" alt="" >
      <!--Para visual-->
      <img src="imagenes/patitas2.jpg" alt="" >
      <!--Para NetBeans-->
      </center>
</div>

    <!-- Site footer -->
    <footer class="site-footer">
     

      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>Sobre Nosotros</h6>
            <p class="abc">"No sabemos la receta para la felicidad...pero estamos seguros que incluye a un
              perro!" Ellos son parte de tu familia y nosotros vamos a hacer de su paseo el mejor momento de su dia.
              Amamos los animales tanto como vos y es por eso que decidimos crear Walking Dog: una plataforma que
              facilita que encuentres el paseador ideal para tu mascota. Con Rutas de Paseo reales, con refrencias de
              paseadores y de registro facil y rapido. Sumate ya! Y juntos mejoremos la calidad de vida de tu mejor
              amigo! </p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6></h6>
            <ul class="footer-links">

            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Accesos Directos</h6>
            <ul class="footer-links">
              <li><a href="/index.html">Inicio</a></li>
              <li><a href="/rutaspaseo.html">Rutas de Paseo</a></li>
              <li><a href="/contacto.html">Contacto</a></li>
              <li><a href="/videosinteres.html">Videos</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="/container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2021 Todos los Derechos Reservados "The Walking Dog"

            </p>
            <button>
              <a href="/hey.html">Hey</a>
             
            </button>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="instagram" href="https://instagram.com/the_walking_dog2021?utm_medium=copy_link"><i
                    class="fa fa-instagram"></i></a></li>
              <li><a class="instagram" href=""><i class="fa fa-instagram"></i></a></li>

            </ul>
          </div>
        </div>
      </div>
    </footer>




</body>

</html>