<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videos</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    

    <link rel="stylesheet" href="../static/videosinteres.css" />
    <link rel="stylesheet" href="/videosinteres.css" />

</head>
<body>
    

    <h1>Videos de Interes</h1>
    <div class="content">
     <input type="checkbox" id="grid" />
     <label for="grid"></label>
     <ul>
      <li>
       <div class="thumbnail">
        <img src="../static/imagenes/beagle.jpg" alt="" />
       </div>
       <div class="caption">
        <h2>Claves y Elementos Necesarios para Pasear Perros </h2>
        <p>Conoce el hermoso mundo de pasear perros</p>
        <a target="_blank" href="https://www.youtube.com/watch?v=Wv974dfVejA&t=11s">Ver Video</a>
       </div>
      </li>
      <li>
       <div class="thumbnail">
        <img src="../static/imagenes/paseador.jpeg" alt="" />
       </div>
       <div class="caption">
        <h2>Como presentar un nuevo perro a la manada?</h2>
        <p>Tips para presentar a un nuevo perro a tu manada y evitar peleas entre perros.</p>
        <a target="_blank" href="https://www.youtube.com/watch?v=GUUsMsGgzxM">Ver Video</a>
       </div>
      </li>
      <li>
       <div class="thumbnail">
        <img src="../static/imagenes/paseador.jpeg" alt="" />
       </div>
       <div class="caption">
        <h2>Enséñale a No tirar ni jalar de la Correa </h2>
        <p>Hoy vemos una técnica de adiestramiento canino y obediencia canina muy sencilla y rápida para que tu perro deje de tirar y jalar de la correa</p>
        <a target="_blank" href="https://www.youtube.com/watch?v=ww8mmi50vlE">Ver Video</a>
       </div>
      </li>
      <li>
       <div class="thumbnail">
        <img src="../static/imagenes/beagle.jpg" alt="" />
       </div>
       <div class="caption">
        <h2>10 errores comunes al pasear con tu perro</h2>
        <p>En este nuevo vídeo  te mostraremos 10 errores muy comunes durante el paseo del perro, que podemos observar prácticamente siempre que salimos a la calle a pasear. </p>
        <a target="_blank" href="https://www.youtube.com/watch?v=HvmC1QRB1fM">Ver Video</a>
       </div>
      </li>
      <li>
       <div class="thumbnail">
        <img src="../static/imagenes/paseador.jpeg" alt="" />
       </div>
       <div class="caption">
        <h2>Pasear Perros en Verano</h2>
        <p>La regla de los 5 segundos</p>
        <a target="_blank" href="https://www.youtube.com/watch?v=TBzJHmyIat8">Ver Video</a>
       </div>
      </li>
      <li>
       <div class="thumbnail">
        <img src="../static/imagenes/beagle.jpg" alt="" />
       </div>
       <div class="caption">
        <h2>¿Cuántas veces hay que pasear un perro?</h2>
        <p>¿Qué sabes sobre el paseo del perro? ¿Conoces realmente cuántas veces hay que pasear un perro al día?</p>
        <a target="_blank" href="https://www.youtube.com/watch?v=KKhqnv90FYA">Ver Video</a>
       </div>
      </li>
     </ul>
    </div>
    



    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
 

</body>


</html>