body{
    background:url('https://fielpet.com.ar/blog/content/images/size/w2000/2020/10/Tips-para-pasear-perros-2.jpg');
    background-size:100% 100%;
    background-attachment: fixed; 
    background-repeat:no-repeat;
   
   
  }
  
  
/* Inicio de barra de navegacion*/
  #nave_wrapper{
    width:600px;
    height:70px;
    background:#377D7A;
    margin-left: auto;
    float: center;
    margin-right:auto; 
    margin-top:50px;
    opacity:0.9;
    filter:alpha (opacity=90)/*IE8 earlier */
  }
  
  #nave_wrapper ul li{
    list-style:none;
    display:inline;
    font-weight:bold;
    padding:15px;
   
  }
  #nave_wrapper a{
    color:white;
    text-decoration:none;
    padding:25px
  }
  
  #nave_wrapper ul li:hover{
    background:rgb(241, 243, 127);
    transition:all 0.45s;
    opacity:0.9s;
    filter:alpha (opacity=90)/*IE8 earlier */ 
  }
  
  
  /*Fin de barra de navegacion*/

/*
.btn-aceptar {
background-color: #377D7A;
  color: #fff;
}*/
